{% extends 'racer/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'racer/forms.css' %}">
{% endblock style %}

{% block title %}
SignUp
{% endblock title %}

{% block content %}

<main class="d-flex flex-column justify-content-center align-items-center" style="min-height: calc(100vh - 56px);">
    <div class="cnt">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">LogIn</legend>
                {{ form|crispy }}
            </fieldset>
        
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
            <div>
                <small class="text-muted">
                    Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In.</a>
                </small>
            </div>
        </form>
    </div>
</main>

{% endblock content %}